.nav {
  text-transform: uppercase;
  text-align: center;
  &-list {
    padding: 0;
    list-style: none;
  }
  a {
    display: block;
    color: #fff;
    text-decoration: none;
    transition: all 0.2s ease;
    &:hover {
      color: #3A4145;
      background-color: #fff;
    }
  }
}
